:root{
    --primary-color:#2da894;
    --secondary-color-navbar:#2fbda5;
    --secondary-color-hover-1: #4ef8dc;
    --secondary-color-hover-2: #5f9ea0;
    --color-nav-border:#555;
    --secondary-color-background:#c9fff6;
    --text-color:#363333;
    --footer-background:#333;
    --footer-color:#343030;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color-background);
    background: linear-gradient(to right, #e2e2e2, #c9fff9);
    font-family: Arial, sans-serif;
    line-height: 0.85;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

header .logo h1 {
    font-size: 24px;
}

header .search-bar input {
    padding: 7px;
    border-radius: 10px;
    width: 650px;
}

header .icons {
    display: flex;
    gap: 15px;
}

header .icons .icon {
    color: var(--text-color);
    text-decoration: none;
}

header .icons .icon.hidden {
    display: none;
}

/* Navbar styling and Categories Dropdown menu Styling */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color-navbar);
    font-family: arial;
    font-size: 14px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: var(--secondary-color-navbar);
}

nav a {
    display: block;
    padding: 0 30px;
    color: var(--text-color);
    line-height: 45px;
    text-decoration: none;
}

nav a:hover { 
    background-color: var(--secondary-color-hover-2); 
}

nav ul ul {
    display: none;
    position: absolute;
    top: 45px;     
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul li:hover > a {
    background-color: var(--secondary-color-hover-2); 
}

nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    border: 1px solid var(--color-nav-border);
}

nav ul ul ul li {
    position: relative;
    top: -45px; 
    left: 150px;
}

/* Main content styling */
main {
    flex: 1;
    margin-top: 30px;
    padding: 10px;
    /* text-align: center; */
}

main h2 {
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
}

/* Footer styling */
footer {
    color: var(--footer-color);
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    position:relative;
    width: 100%;
    bottom: 0;
}
